*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* head section */
.header{
    background-color: #20B2AA;
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 50px;
}
.header h1{
    text-transform: capitalize;
    font-size: 42px;
    font-style: italic;
    letter-spacing: 3px;
    color: #fff;
}

/* content section */

.section-content{
    background-color: #F0FFF0;
    height: 80vh;
    padding: 50px 0px;
}


.section-content .content-container{
    
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    height: 80%;
}
.content-container div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    border-radius: 3%;
}


.content-container div:first-child{
    background-color: #006400;
    transition: all .3s;
}
.content-container div:first-child a{ 
   color:#00FFFF ;
}
.content-container div:first-child a:hover{ 
    font-size: 45px;
    font-weight: 600;
}
.content-container div:hover:first-child{
    background-color: #00FFFF ;
}
.content-container div:hover:first-child a{
    color: #006400;
}



.content-container div:nth-child(2){
    background-color: #00FF7F;
    transition: all .3s;
}
.content-container div:hover:nth-child(2){
    background-color: #4169E1;
    
}

.content-container div:hover:nth-child(2) a{
    color: #00FF7F;
}
.content-container div:nth-child(2) a:hover{
    font-size: 45px;
    font-weight: 600;
}



.content-container div:last-child{
    background-color:#98FB98 ;
    transition: all .3s;
}
.content-container div:last-child a{
    color:#696969;
 }
.content-container div:last-child a:hover{
    font-size: 45px;
    font-weight: 600;
 }
.content-container div:hover:last-child{
    background-color:#696969;
}
.content-container div:hover:last-child a{
    color:#98FB98 ;
 }

.content-container div a{
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
}

/* start media query */

@media screen and (max-width:1200px){
    .content-container div{
        width: 15%;
    }

}

@media screen and (max-width:768px){

    .section-content .content-container{
        flex-direction: column;
        height: 100%;
    }

    .content-container div{
        width: 90%;
        margin: auto;
    }
    .content-container div a{
        font-size: 30px;
    }
    .content-container div:first-child a:hover,
    .content-container div:nth-child(2) a:hover,
    .content-container div:last-child a:hover{
        font-size: 30px;
        letter-spacing: 10px;
    }
    
}

